order deny,allow
allow from all
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(css/.*)$ $1 [QSA,L,NC]
    RewriteRule ^(lib/.*)$ $1 [QSA,L,NC]
    RewriteRule ^(img/.*)$ $1 [QSA,L,NC]
    RewriteRule ^(admin/.*)$ $1 [QSA,L,NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^story/(.*)$       index.php?page=story&id=$1 [QSA,L,NC]
    RewriteRule ^previsu/(.*)$       index.php?page=previsu&id=$1 [QSA,L,NC]
    RewriteRule ^p/(.*)$       index.php?page=p&id=$1 [QSA,L,NC]
</IfModule>
<IfModule mod_expires.c>
    # enable the directives - assuming they're not enabled globally
    ExpiresActive on

    # send an Expires: header for each of these mimetypes (as defined by server)
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"

    # css may change a bit sometimes, so define shorter expiration
    ExpiresByType text/css "access plus 1 days"
</IfModule>
