<img class="wait" ng-if="!done || wait" src="img/loader.gif" />
<div ng-if="done">
	<form role="form" class="new">
	<div class="col-xs-12">
		<p><button class="btn btn-default"  ng-click="modPage()">Enregistrer</button></p>
		<span class="pull-right mini" ng-show="b=isEqual(page,pageT)">Enregistré</span>
		<span class="pull-right mini" ng-show="!b">Non enregistré</span>
	</div>
	<div class="col-xs-12">
		<p><toggle-switch model="page.statut" knob-label="publié" class='small'></toggle-switch> <a ng-if="page.statut" href="../p/{{page.id}}">voir en ligne</a></p>
		<label for="nom">Titre</label>
		<input stop-propagation class="form-control" type="text" ng-model="page.nom"/><br />
		<label for="desc">Descriptif long</label>
		<textarea ckeditor="editorOptions" class="form-control" ng-model="page.html" rows="23"/></textarea>
	</div>
	</form>
</div>
</div>
